<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
     <link rel="stylesheet" href="{{ url_for('static', filename='Styles/style.css') }}">
     <link rel="stylesheet" href="{{ url_for('static', filename='Styles/Variables.css') }}">
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&family=Imperial+Script&family=Rowdies:wght@300;400;700&family=Tangerine:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <logo>
            Timeless Museum
        </logo>
        <nav-bar>
            
            <button><a href="#hero" >MUSEUM</a></button>
            <button><a href="#about" >ABOUT</a></button>
            <button><a href="#contact" >CONTACT</a></button>
        </nav-bar>
        <user>
            <button><a href="{{ url_for('login') }}">LOGIN</a></button>
            <button><a href="{{ url_for('register') }}">REGISTER</a></button>
        </user>

    </header>

    <section class = 'hero' id = 'hero'>
        <focustext>
            <p>
                <span>REDISCOVER</span> <br><art>Art</art> Accross Eras
            </p>
            <button>
                <a href="{{ url_for('register') }}">Join The Timeless Journey</a>
            </button>
        </focustext>
        <hero>
            <img src="../static/Src/focus.png" alt="">
        </hero>
    </section>

    <hr >
    <section class = "about" id = "about">
        <heading>
            ABOUT
        </heading>
        <content>
            <text>
                Embark on an enchanting journey through time and culture at our AI-powered timeless museum. Immerse yourself in the captivating blend of ancient and modern art from various regions of the world. Witness the remarkable synergy of AI technology as it breathes new life into classic masterpieces. Experience the profound resonance of art transcending eras, unveiling the enduring legacy of human creativity. Discover the past through the lens of the future in an awe-inspiring exhibition.
            </text>
            <img>
        </content>
    </section>
    <hr >
    <section class = "contact" id = "contact">
        <heading>
            CONTACT
        </heading>
        <form method='POST'>
        <input type="email" placeholder="Enter Your Email">
        <textarea id = "suggestion" placeholder="Enter Your Suggestion"></textarea>
        <input type="submit">
        </form>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li class="message">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    </section>
    <hr>
    <section class = 'footer'>
        Made With Love <br>
        In India
        <br>
        
        <span>
            for participation in Soft Codehack 1.0
        </span>
    </section>
</body>
</html>