<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='Styles/Variables.css') }}">
     <link rel="stylesheet" href="{{ url_for('static', filename='Styles/login.css') }}">
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&family=Imperial+Script&family=Rowdies:wght@300;400;700&family=Tangerine:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <heading>
        Login With Your Account
    </heading>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li class="message">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <form method='post'>
        <input type="text" id="name" name="name" placeholder="Username">
        <input type="password" id="pass" name="pass" placeholder="Password">
        <input type="submit" name='login' value="Login Now">
        <hr>
        <text>OR</text>
        <hr>
        <text><a href="#">Forgot Password?</a></text>
        <input type="email" id="email-change" name="email-change" placeholder="Enter Your Email">
        <input type="submit" name='change' value="Send Temporary Password">

    </form>
</body>