<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='Styles/variables.css') }}">
     <link rel="stylesheet" href="{{ url_for('static', filename='Styles/login.css') }}">
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&family=Imperial+Script&family=Rowdies:wght@300;400;700&family=Tangerine:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <heading>
        Create A New Account
    </heading>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li class="message">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <form method='post'>
        <input type="email" id="email" name="email" placeholder="Enter Your Email">
        <input type="text" id="name" name="name" placeholder="Username">
        <input type="password" id="pass1" name="pass1" placeholder="Password">
        <input type="password" id="pass2" name="pass2" placeholder="Confirm Password">
        <input type="submit" value="Create Account">
    </form>
</body>