:root{
    --primarybg : #191e24;
    --heading_font: 'Rowdies';
    --content_font: 'Cabin';
    --white : #EEEEEE;
    --grey : #828A95;
    --accent : #BECEF9;
    --script : 'Tangerine'
}
*{
    border: none;
    padding: none;
    text-decoration: none;
    border: none;
    background-color: transparent;
    color: white;
    user-select: none;
}
html{
    zoom: 125%;
}